pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.GamedetailsDescription {
	width: 65%;
}
.GamedetailsDescription .header {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: var(--primary-color);
	background-color: #0e565d;
	border-radius: 10px 10px 0px 0px;
	box-sizing: border-box;
	padding: 2rem 1rem;
}
.GamedetailsDescription .description-inner {
	background: var(--primary-color);
	border-radius: 0 0 10px 10px;
	padding: 1rem;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	color: var(--secondary-color);
}
