.tic-tac-toe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tic-tac-toe .score {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    justify-content: space-around;
}
.tic-tac-toe .score h3 {
    margin-top: 10px;
    color: #FCF8D9;
    margin: 10px 10px 0 10px;
}
.tic-tac-toe h2 {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FCF8D9;
}
.tic-tac-toe .replay {
    padding: 10px 15px;
    background-color: #FCF8D9;
    border-radius: 20px;
    border: 2px solid #64BEB8;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}
.tic-tac-toe .squares {
    display: grid;
    grid-template-columns: auto auto auto;
}
.tic-tac-toe .squares .square {
    background-color: #FCF8D9;
    border: 2px solid #64BEB8;
    border-collapse: collapse;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    user-select: none;
}
.tic-tac-toe .squares .square.active:hover {
    cursor: pointer;
}