.gamelist-card
{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    box-shadow: 2px 4px 8px rgba(252, 248, 217, 0.1);
    border-radius: 10px;
}
.gamelist-card .image
{
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #EDE3E3;
    border-radius: 10px;
}
.gamelist-card .body {
    width: 100%;
}
.gamelist-card .body .title
{
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--secondary-color);
}
.gamelist-card .body .description
{
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-color);
}
.gamelist-card .body .played
{
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-color);
}
.gamelist-card .body .detail-wrap .detail
{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #E53045;
}
.gamelist-card .body .detail-wrap
{
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}