.no-match {
    position: absolute;
    inset: 0;
    background-color: #272527;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.no-match .body {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.no-match h1, .no-match p {
    display: inline-block;
    padding: 10px 30px;
}
.no-match h1 {
    border-right: 1px solid white;
}