.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0E565D;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar .right
{
    margin-right: 3rem;
}
.navbar .left
{
    height: 22px;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    align-items: center;
}
.navbar .left .item.score
{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.navbar .right .item, .navbar .left .item, .navbar .center .item
{
    text-decoration: none;
    color: #FCF8D9;
    margin-right: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.navbar .right .item
{
    margin: 0 0.5rem;
}
.navbar .center .item
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.navbar .item.smaller
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.navbar .item.active
{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}