.wrap
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.wrap .image
{
    height: 100%;
}
.wrap .body
{
    padding-right: 10rem;
}
.wrap .body .name
{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FCF8D9;
}
.wrap .body .score
{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #FCF8D9;
}
.wrap .body .email
{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FCF8D9;
}