.footer
{
    padding: 0 5rem 1.5rem 5rem;
}
.footer hr
{
    opacity: 0.5;
    border: 0.873968px solid #FFFFFF;
}
.footer .part-1, .footer .part-2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .part-1
{
    margin-bottom: 2rem;
}
.footer .part-2
{
    margin-top: 2rem;
}
.footer .part-1 .left a
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer .part-1 .left a, .footer .part-1 .right a
{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}
.footer .part-1 .right a:last-child
{
    margin-right: 0;
}
.footer .part-2 .left p
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    color: #FFFFFF;
    opacity: 0.5;
}
.footer .part-2 .right p
{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer .part-2 .right p a
{
    text-decoration: none;
    color: white;
}