.back-button
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.back-button p
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FCF8D9;
    margin-left: 1rem;
}